<mat-card>
    <mat-list>
        <div mat-subheader><h1>All Categories</h1></div>
        <mat-list-item *ngFor="let c of categories">
            <mat-icon mat-list-icon style="color:rgb(188, 114, 231);">category</mat-icon>
            <div mat-line>{{c.title}}</div>
            <div mat-line>{{c.description}}</div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <div class="container text-center mt20">
        <button mat-raised-button style="background-color:rgb(188, 114, 231); color: white;"
        routerLink="/admin-dashboard/add-category">Add New category</button>
    </div>
</mat-card>