<mat-card *ngIf="user">
    <h1 style="color: rgba(0,0,0,.54);">Your Profile Details</h1>
    <!-- {{user|json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">

                <div class="container text-center">
                     <img src="./../../../assets/pictures/userProfileImage.jpg" alt="user-image" class="profile-image">
                     <h1 class="mb30">{{user.name}}</h1>
                </div>
                <div class="row mt30">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Email</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <td>College id</td>
                                <td>{{user.collegeId}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"Active":"Not active"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button style="background-color:#4e7ac6; color:white">UPDATE</button>
      </mat-card-actions>
      <br>
      <br>
      <br>
</mat-card>
