<!-- <app-navbar></app-navbar> -->
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/pictures/logo.jpg" alt="Logo" style="width: 200px;">
                    </div>
                    <h1 class="text-center">Login Here!</h1>
                    {{loginData | json}}
                    <div class="container text-center full-width">
                        <form (ngSubmit)="formSubmit()">
                            <!-- Email field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input [(ngModel)]="loginData.email" name="email" required matInput
                                    placeholder="Enter here...">
                                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                <!-- <mat-hint>Email must be unique !!</mat-hint> -->
                            </mat-form-field>

                            <!-- Password field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input [(ngModel)]="loginData.password" name="password" type="password" required
                                    matInput placeholder="Enter here...">
                                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            </mat-form-field>
                            <a routerLink="/forgot-password">Forgot Password?</a>
                            <br>
                            <button mat-raised-button class="btn-reset" type="reset">Reset</button>
                            <button mat-raised-button class="btn-submit" type="submit">Submit</button>
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>