<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="mt30">
                    <h1 class="text-center"><i>Reset Password</i></h1>
                    <div class="container text-center full-width">
                        <form (ngSubmit)="formSubmit()">
                            <!-- new password field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>New Password</mat-label>
                                <input [(ngModel)]="data.new_password" name="new_password" required matInput
                                    placeholder="Enter here..." type="password">
                            </mat-form-field>
                            <!-- confirm password field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Confirm Password</mat-label>
                                <input [(ngModel)]="data.confirm_password" name="confirm_password" required matInput
                                    placeholder="Enter here..." type="password">
                            </mat-form-field>
                            <button mat-raised-button class="btn-reset" type="reset">Reset</button>
                            <button mat-raised-button class="btn-submit" type="submit">Send</button>

                        </form>
                        {{data|json}}
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
