<mat-card class="mt20 mr20 ml20" *ngFor="let q of quizzes">
    
        <div class="bootstrap-wrapper">
            <mat-card-header style="display: block;">
            <div class="container">
                <div class="row">
                    <div mat-card-avatar class="example-header-image"></div>
                    <div class="col-md-7">                   
                        <mat-card-title>{{q.title}}</mat-card-title>
                        <mat-card-subtitle>{{q.category.title}}</mat-card-subtitle>
                    </div>
                    <div class="col-md-2 offset-md-2">
                        <button 
                            (click)="updateQuiz(q.quizId)"
                            mat-icon-button style="background-color:white; color:  #FC5656;">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button style="background-color:white; color:  #FC5656;"
                                (click)="deleteQuiz(q.quizId)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-header>
        </div>

    
    <mat-card-content> 
        <p>{{q.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button
        [routerLink]="'/admin-dashboard/view-questions/'+q.quizId+'/'+q.title" 
        mat-flat-button 
        style="background-color: #FC5656; color: white;">Questions</button>
        <button mat-stroked-button style="background-color:white; color:  #FC5656;">Max. Marks {{q.maxMarks}}</button>
        <button mat-stroked-button style="background-color:white; color:  #FC5656;">Questions:
            {{q.numberOfQuestions}}</button>
        <button mat-raised-button style="background-color:white; color:  #FC5656;">Attempts?</button>


    </mat-card-actions>
</mat-card>
<div class="container text-center mt20">
    <button mat-raised-button routerLink="/admin-dashboard/add-quiz"
    style="background-color:#FC5656; color:white  ;">Add New Quiz</button>
</div>