<!-- <app-navbar></app-navbar> -->
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt30">
            <div class="col-md-6 offset-md-3">
                <mat-card class="mt30">
                    <h1 class="text-center"><i>Enter your email...</i></h1>
                    <div class="container text-center full-width">
                        <form (ngSubmit)="formSubmit()">
                            <!-- email field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input [(ngModel)]="data.email" name="email" required matInput
                                    placeholder="Enter here...">
                            </mat-form-field>
                            <br>
                            <button mat-raised-button class="btn-reset" type="reset">Reset</button>
                            <button mat-raised-button class="btn-submit" type="submit">Send</button>
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
  </div>